<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather App</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="cards">
        <h3 id="name" style="color: white; !important;" class="weather_data_name">Loading...</h3>
        <h3 id="temp" style="color: white; !important;" class="weather_data_temp">Loading...</h3>
        <h3 id="weather" style="color: white; !important;" class="weather_data_weather">Loading...</h3>
        <h3 id="wind_speed" style="color: white; !important;" class="weather_data_wind_speed">Loading...</h3>
        <h3 id="wind_deg" style="color: white; !important;" class="weather_data_wind_deg">Loading...</h3>
        <h3 id="humidity" style="color: white; !important;" class="weather_data_humidity">Loading...</h3>
        <h3 id="last_update" style="color: white; !important;" class="weather_last_update">Loading...</h3>
    </div>
    <div>
        <input type="button" class="submit-button" name="send_button" value="Update">
    </div>
    <script type="application/javascript" src="../static/main.js"></script>
</body>
</html>
